<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Neologism generator</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Neologism generator</h1>
        <form id='neogenform'>
            <table>
            <tr>
                <td>
                    <label for='nWords'>Number of words</label>
                </td>
                <td>
                    <input type='number' name='nWords' id='nWords'
                    min="1" max="100" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for='lang'>Language</label>
                </td>
                <td>
                    <select name='lang' id='lang' required>
                        <option disabled selected value="none"> -- select an option -- </option>
                        <option value="ar">AR - Arabic</option>
                        <option value="de">DE - German</option>
                        <option value="en">EN - English</option>
                        <option value="el">EL - Greek</option>
                        <option value="eo">EO - Esperanto</option>
                        <option value="es">ES - Spanish</option>
                        <option value="fr">FR - French</option>
                        <option value="he">HE - Hebrew</option>
                        <option value="hrsr_cy">SH - Serbo-Croatian (Cyrillic)</option>
                        <option value="hrsr_la">SH - Serbo-Croatian (Latin)</option>
                        <option value="it">IT - Italian</option>
                        <option value="nl">NL - Dutch</option>
                        <option value="no">NO - Norwegian</option>
                        <option value="pl">PL - Polish</option>
                        <option value="pt_br">PT - Portuguese (BR)</option>
                        <option value="pt_pt">PT - Portuguese (PT)</option>
                        <option value="ro">RO - Romanian</option>
                        <option value="ru">RU - Russian</option>
                        <option value="sq">SQ - Albanian</option>
                        <option value="uk">UK - Ukrainian</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for='trieDepth'>Trie Depth</label>
                </td>
                <td>
                    <input type="range" min="1" max="10" value="5"
                    class="slider" name="trieDepth" id="trieDepth">
                    <span id="slidervalue">5</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for='minWordLen'>Minimum length of word</label>
                </td>
                <td>
                    <input type='number' name='minWordLen' id='minWordLen'
                    min="0" max="10" required>
                </td>
            </tr>
            </table>
            <button type='submit'>Send!</button><br>
        </form>
        <p id='answer'></p>
        <h2>What is this???</h2>
        <p>
            This is a neologism generator. A <a href='https://en.wikipedia.org/wiki/Neologism'>neologism</a> is a freshly coined word. Although some creativity is involved in the creation of new words, as we properly credit the geniuses of Shakespeare, Joyce and Guimarães Rosa, neologisms follow phonological and morphological patterns which can be replicated by a mechanical process.
        </p>
        <p>
            Starting from frequency words from natural languages, obtained from <a href='https://invokeit.wordpress.com/frequency-word-lists/'>this blog</a> referred by Wikipedia, we produce new words, that follow their patterns as a <a href='https://en.wikipedia.org/wiki/Markov_chain'>Markov (anamnesic) process</a>.
        </p>
        <p>
            For example, the i<sup>th</sup> letter in a word depends solely one the last N letters defined by the parameter "Trie-Depth". If you use a too low "Trie-Depth", you will end up with almost random words, as the next letter only depends on the last one or two. When the parameter goes up, we get words that look somewhat funny, but could eventually be found in the language, even if as a pun. With a high Trie-Depth, the words are probably proper words of the language, but were not in the original list because they were too specific (too many derivational affixes and so on).
        </p>

        <p>
            The backend was implemented with C, with my own implementation of the Trie data structure. This makes it quite fast to process frequency lists. Most of the work is actually done trying to find a word which follows the given Markov process, but is not in the original list. Anyway, even in the worst reasonable scenarios, the server usually responds with only 100 MB RAM usage and 4 seconds delay.

            The web-backend is implemented with NodeJS, with the library teen_process to call C code as an external process.
        </p>
        <p>
            <a href="https://github.com/moraesvic/neologism-generator">Check the project source at GitHub!</a>
        </p>


        <script src='/static/js/xhr.js'></script>
        <script>


const slider = document.getElementById("trieDepth");
const slidervalue = document.getElementById("slidervalue");
slider.oninput = () => { slidervalue.innerHTML = slider.value; };
let waiting = false;

document.getElementById('neogenform').onsubmit = async function(e){
    e.preventDefault();
    if (waiting)
        return;
    const answer = document.getElementById('answer');
    if (document.getElementById('lang').value === "none") {
        alert("Please select one language.");
        return;
    }
    answer.innerHTML = "loading ...";

    waiting = true;
    fetch('/neogen', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: formToJSONStr(this)
    })
    .then(response => response.json())
    .then(data => {
        data.text = data.text.replace(/\n/g,'<br>');
        answer.innerHTML = data.text;
        waiting = false;
    });
}
        </script>
    </body>
</html>